var table = $('.table_container .table');
table.find('tr:not(".col_title")').remove();
table.append("<%= j render partial: 'users/message', collection: @messages %>");
$('.table_container td b, .table_container td p, .table_container td br')
.addClass('linear_body');

var count = <%= current_user.messages.count %>
$('.messages_count').text(count);

$('.pagination_block')
.html("<%= j paginate(@messages, params: {controller: 'users', action: 'index'},\
 left: 3, right: 3, remote: true) %>");

$('#refresh_btn').attr('disabled',false);
$('.pagination').show();
$('.progress_block').css('display', 'none');

flash_message('Messages successfully updated');