<tr class='message_info_view' data-name = <%= message.message_id %> >			
	<td><%= 1 %></td>
	<td><%= message.send_date.strftime("%A, %d %B %Y, %H:%M") %></td>
	<td><%= message.message_to %></td>
	<td>
		<b><%= subjects(message.subject) %> : </b><%= truncate_html(message.body, length: 100, omission: '...') %>
	</td>
</tr>