<% if @user %>
	<div class='table_container table-responsive'>
		<div class='pagination_block'>
			<%= paginate @messages, left: 3, right: 3, remote: true %>
		</div>
		<div class='progress_block'>
			<div class='mail_progress_bar'>
				<div class="progress progress-striped active">
				  <div class="progress-bar"  role="progressbar" aria-valuenow="100"
				   aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div>
			</div>
		</div>
		<table class="table table-hover">
			<tr class='col_title'>
				<td class='message_id'>#</td>
				<td class='message_date'>Date</td>
				<td class='message_to'>Message to</td>
				<td class='message_body'>Content</td>
			</tr>
			<%= render partial: 'message', collection: @messages %>
		</table>
	</div>

	<div id="message">
		<div id="message_full_body">
			<div id="message_close" title="Close message" onclick='message_close()'>
				<i class="fa fa-times"></i>
			</div>
			<div id="mf_subject">
				<span>Subject:</span>
				<span>No Subject</span>
			</div>
			<div id="mf_to">
				<span>To:</span>
				<span>Empty</span>
			</div>
			<div id="mf_body">
				<span>Empty</span>
			</div>
		</div>	
	</div>
	
<% end %>

<% content_for :after_body do %>
	<%= javascript_include_tag 'for_views/index.js' %>
<% end %>
