var table = $('.table_container .table');
table.find('tr:not(".col_title")').remove();
table.append("<%= j render partial: 'message', collection: @messages %>");
$('.table_container td b, .table_container td p, .table_container td br')
.addClass('linear_body');

$('.pagination_block')
.html("<%= j paginate(@messages, left: 3, right: 3, remote: true) %>");

var page = parseInt($('.pagination_block .current').text());
btn = $('#refresh_btn');
url = "/messages/update_message/?page="+page;
url = btn.attr('href', url);


