body {margin-top: 70px;}

.navbar-inverse {
	background-color: #f1f1f1;
	height: 70px;
  min-width: 990px;
}

.alert {
  font-size: 18px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1040;
}

.auth_btn {
  float: right;
  margin-right: 45px;
  margin-top: 12px;
}

.user_email {
  display: block;
  float: right;
  font-size: 16px;
  margin-right: 5%;
  margin-top: 23px;
  text-align: center;
}

.search_block {
  float: left;
  margin-left: 5%;
  margin-top: 17px;
  width: 500px;
}
.search_block .input-group .input-group-btn {display: block;}
.messages_count {display: none;}

.search_block .input-group-btn input {outline: none;}
.search_block .col-lg-6 {width: 100%;}
.search_block .row {width: 85%; float: left;}

.search_block #refresh_btn,
.search_block #refresh_btn:active,
.search_block #refresh_btn:focus {
  margin-left: 35px;
  padding: 1px 12px;
  font-size: 22px;
  color: #428bca;
  background-color: #fff;
  outline: none;
}
.search_block #refresh_btn:hover {
  background: #428BCA;
  color: white;
}

.search_block .input-group {width: 89%;}

.user_controll_block {
  width: 150px;
  height: 50px;
  margin-right: 20px;
  margin-top: 16px;
  text-align: right;
  float: right;  
}

.user_controll_block i {font-size: 20px; color: black;}

.table_container {min-width: 990px;}

.table_container .col_title {font-size: 18px;}
.table_container .message_id {width: 85px; text-align: right;}
.table_container .message_date {width: 15%;}
.table_container .message_to {width: 20%;}
.table_container .message_subject {width: 200px;}

.table_container tr:not(.col_title) {cursor: pointer;}
.table_container tr td:first-child {text-align: right;}

.linear_body {
  float: left;
  margin-right: 5px;
  display: inline;
}

/**************PAGINATION START**************/
.pagination_block {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid;
  position: relative;
  text-align: center;
}
.pagination {
  text-align: center;
  margin-top: 14px;
}

.pagination > li > a { color: #CF89A5; }
.pagination > li > a:hover { color: #722C48; }

.pagination .page, .pagination .prev, .pagination .next {
  border: 1px solid #428bca;
  color: black;
  display: block;
  float: left;
  margin-left: 1px;
  width: 20px;
}

.pagination .page a,
.pagination .prev a,
.pagination .next a {display: block; width: 100%; height: 100%;}

.pagination .page:hover {background-color: #76BCF9;}

.pagination .page:hover a,
.pagination .prev:hover a,
.pagination .next:hover a {color: black; text-decoration: none;}

.pagination .current,
.pagination .current:hover {background-color: #428bca; color: white; cursor: pointer;}


/**************PAGINATION END**************/

.progress_block {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid;
  position: relative;
  text-align: center;
  top: -50px;
  margin-bottom: -50px;
  display: none;
}

.mail_progress_bar {
  margin-left: 29%;
  top: 15px;
  position: absolute;
  width: 800px;
}

/**************MODAL***********************/
#message {
  background: rgba(0,0,0,0.7);
  display: none;
  height: 100%;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  z-index: 9999;
}

#message_close {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: #428bca;
  font-size: 25px;
  position: absolute;
  top: -1%;
  right: -1%;
  line-height: 1.12;
}
#message_close:hover {
  background-color: #F1F1F1;
  border: 1px solid #F1F1F1; 
}

#message_full_body {
  background: #F1F1F1;
  height: 90%;
  left: 5%;
  position: relative;
  top: 75px;
  width: 90%;
}

#mf_subject, #mf_to {
  border-bottom: 1px solid;
  font-size: 16px;
  height: 40px;
  padding-left: 15px;
  padding-top: 7px;
  vertical-align: middle;
  width: 100%;
}
#mf_subject span:first-child, #mf_to span:first-child {
  font-weight: bold;
  margin-right: 10px;
}
#mf_subject span:last-child, #mf_to span:last-child {
  font-size: 14px;
}
#mf_body {
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
  width: 100%;
}


/**************MODAL END*******************/
