<% flash.each do |key, value| %>
  <div class="alert alert-dismissable <%= flash_class(key) %> fade in">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= value %>
  </div>
<% end %>