<div class='navbar navbar-inverse navbar-fixed-top'>
	<% if current_user %>
		<div class='search_block'>		
			<div class="row">
			  <div class="col-lg-6">
			    <div class="input-group">
			    	<%= form_for :message, url: find_messages_path, method: :post, remote: true do |f| %>
			    		<%= f.text_field :data, class: 'form-control' %>
			    		<span class="input-group-btn">
			    			<%= f.submit 'Search', name: nil, class: 'btn btn-primary' %>
			    		</span>
			    	<% end %>
			    </div>
			  </div>
			</div>
			<%= link_to update_message_path(page: params[:page]),
			 class: 'btn btn-default', id: 'refresh_btn',
			 title: "Refresh messages", type: 'button', remote: true do %>		 
				<i class="fa fa-refresh"></i>				
			<% end %>		
			<span class='messages_count'><%= current_user.messages.count %></span>
		</div>
	<% end %>

	<% if current_user %>
		<span class='user_email'> <%= current_user.email %></span>
		<div class='user_controll_block'>
			<%= link_to 'Log out', logout_path, class: 'btn btn-primary logout_btn' %>
		</div>
	<% else %>
		<%= link_to 'Authenticate with GMail!', '/auth/google_oauth2',
		 class: 'btn btn-primary btn-lg auth_btn' %>
	<% end %>
</div>