<!DOCTYPE html>
<html>
<head>
  <title>Sendmailviewer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/flash_messages' %>

	<%= yield %>

	<%= yield :after_body %>

</body>
</html>
